/*
- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)
Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%) */

:root {
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-grayish-blue: hsl(240, 100%, 5%);
    --off-white: hsl(36, 100%, 99%);
    --soft-red: hsl(5, 85%, 63%);
    --soft-orange: hsl(35, 77%, 62%);


}


body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}


.container {
    max-width: 1024px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
}

/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    gap: 36px;
}

header nav a {
    color: var(--dark-grayish-blue)
}



/* MAIN */

main {
    margin-top: 72px;
    display: grid;
    grid-template-areas:
        "featuredNew featuredNew newsSidebar"
        "newsBottom  newsBottom newsBottom";


}

/* FEATURED NEW */

section#featured-new {
    grid-area: featuredNew;
}

section#featured-new h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    color: var(--very-dark-grayish-blue);
}

.featured-new-body {
    display: flex;
}

.featured-new-description {
    color: var(--dark-grayish-blue)
}

.featured-new-description button {
    padding: 12px 24px;
    background-color: var(--soft-red);
    color: var(--off-white);
    text-transform: uppercase;
    letter-spacing: 1.75px;
    margin-top: 16px;

}


section#news-sidebar {
    grid-area: newsSidebar;
}

section#news-bottom {
    grid-area: newsBottom;
}